.testimonial_container{
    width: 750px;
}
.testimonial_card{
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin-bottom: var(--mb-3);
}
.testimonial_img{
    border-radius: 3rem;
    margin-bottom: var(--mb-1);
    width: 60px
}
.testimonial_name{
    font-size: var(--normal--font-size);
    font-weight:var(--font-medium);
    margin-bottom: var(--mb-0-25);
}
.testimonial_description{
    font-size: var(--small-font-size);
}
.swiper-pagnation-bullet{
     background-color: var(--text-color) !important
}
.swiper-pagnation-bullet-active{
     background-color: var(--title-color) !important
}

@media screen and (max-width: 992px) {
  .testimonial-container {
   width: initial;
  }

  .testimonial_card {
    padding: 1.25rem 1.5rem;
  }

  .button__icon {
    width: 22px;
    height: 22px;
  }
}